<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<title>Text Analyzer</title>
</head>
<body><center>
<h1>Welcome to the text Analyzer</h1>
<form action="/analyzer" method="get">
<textarea name="text" style="margin:0px; width:720px; height:100px;"></textarea>
<br/><br/>

<input type="checkbox" name="pun">Remove Punctuation<br/></br>
<input type="checkbox" name="cou">Character Counter<br/></br>
<input type="checkbox" name="cap">FULL  CAPATALIZE<br/></br>
<button type="submit" style=" background-color: cyan">Analyze Text</button>
</form></center>
</body>
</html>